

body {
    margin: 20px;
    padding: 0;
    background-color:skyblue;
    
}
h1 {
    text-align: center;
    color: brown;
}
form {
    max-width: 600px;
    margin: auto;
    background-color:pink;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(red, green, blue);
    padding: 20px;
}

fieldset {
    border: 2px solid red;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(153, 205, 50, 0.973);
}
legend {
    font-weight: bold;
    font-size: larger;
    text-align: center;
    color: black;
}

label {
    display: block;
    margin-top: 10px;
    color: aqua;
}
input,textarea {
    width: calc(100% - 1px);
    padding: 8px;
    margin-top: 4px;
    border:1px solid #3498bd;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: orange;
    color: black;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'times new roman', Times,serif;
    
}
button:hovar {
    background-color: blue;
}

